@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import 'tailwindcss';

@plugin "tailwindcss-motion";

.swal2-container {
  overflow: auto !important;

}

@layer components {
  .menu-item {
    @apply bg-gray-100 rounded-md outline-none px-2 py-1 w-full flex flex-row p-0 m-0 items-center justify-start gap-4 cursor-pointer;
  }

  .menu-text {
    @apply text-4xl font-body text-gray-500;
  }

  .note-group {
    @apply flex font-head items-center justify-center rounded-xl min-h-10 w-full text-center cursor-pointer
  }

  .folder-option {
    @apply flex font-head items-center justify-center rounded-xl min-h-10 w-20 text-center
  }

  .header {
    @apply font-head text-3xl text-gray-700;
  }

  .button {
    @apply h-8 w-30 rounded-xl font-head shadow-md active:brightness-94 hover:brightness-97 transition ease-in-out
  }

  .note-container {
    @apply grid grid-rows-[40px_1fr_40px] h-90 w-[31rem] gap-3 bg-white shadow-md rounded-xl p-6 cursor-pointer transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg
  }

  .note-title-section {
    @apply flex justify-between items-center mb-3
  }

  .note-title {
    @apply font-head text-xl font-bold truncate w-60
  }

  .note-folder {
    @apply h-7 w-25 rounded-md text-center items-center bg-gray-200
    /*bg color added depending on folder attribute, default is gray*/
  }

  .note-body {
    @apply line-clamp-3 font-body text-gray-800
  }

  .note-btn-section {
    @apply flex justify-between items-center gap-1 mt-3
  }

  .note-date {
    @apply font-body text-gray-500 text-[14px]
  }

  .note-btn {
    @apply text-gray-500 cursor-pointer text-3xl hover:bg-gray-50 active:bg-gray-100 transition ease-in-out rounded-xl
  }


}




@layer utilities {
  .collapsed {
    @apply grid-cols-[90px_1fr];
  }

  .uncollapsed {
    @apply grid-cols-[280px_1fr];
  }

  .dark-hover-active {
    @apply hover:brightness-95 active:brightness-90 hover:shadow-md transition ease-in-out;
  }
  

  .y-hover {
    @apply motion-translate-x-in-[0%] motion-translate-y-in-[10%]
  }

  .slide-right {
    @apply motion-translate-x-in-[-30%] motion-translate-y-in-[0%]
  }

  .slide-left {
    @apply motion-translate-x-in-[30%] motion-translate-y-in-[0%]
  }

  .md-col {
    @apply text-gray-600
  }

  .dark-col {
    @apply text-gray-800
  }

  .light-col {}
}

@theme {
  --font-head: Poppins, 'sans-serif';
  --font-body: Sofia Sans, 'sans-serif';
  --color-main: #0d3b66;
  --color-secondary: #dcedff;
  --color-accent: #f97924;
}