@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import 'tailwindcss';

@plugin "tailwindcss-motion";

@layer components {
  .menu-item {
    @apply bg-gray-100 rounded-md outline-none px-2 py-1 w-full flex flex-row p-0 m-0 items-center justify-start gap-4 cursor-pointer;
  }

  .menu-text {
    @apply text-4xl font-body text-gray-500;
  }

  .note-group {
    @apply flex font-body items-center justify-center rounded-xl bg-gray-200 h-10 w-52 text-center
  }
  .header {
    @apply font-head text-5xl text-gray-700;
  }
}



@layer utilities {
  .collapsed {
    @apply grid-cols-[90px_1fr];
  }

  .uncollapsed {
    @apply grid-cols-[280px_1fr];
  }

  .dark-hover-active {
    @apply hover:bg-gray-200 active:brightness-90 transition ease-in-out;
  }

  .x-hover {}

  .slide-right {
    @apply motion-translate-x-in-[-30%] motion-translate-y-in-[0%]
  }

  .slide-left {
    @apply motion-translate-x-in-[30%] motion-translate-y-in-[0%]
  }

  .rotate-180-icon {
    @apply motion-rotate-in-[540deg]
  }

  .rotate--180-icon {
    @apply motion-rotate-in-[-180deg]
  }
}

@theme {
  --font-head: Poppins, 'sans-serif';
  --font-body: Sofia Sans, 'sans-serif';
  --color-main: #0d3b66;
  --color-secondary: #dcedff;
  --color-accent: #f97924;
}